/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --decorated-Color: #353430;
  --title-Color: #ffc2e6;
  --title-shadow-Color: #ff8dcb;
  --accent-bg-Color: #ff8dcb;
  --accent-Color: #353430;
  --main-bg-color: #fff1f7;
  --main-title-Color: #353430;
  --mainColor: #353430;
  --main-link-shadow: #ff8dcb;
  --bg-image-path: url(../images/cover-image-light.png) no-repeat;
  --hover-Color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --decorated-Color: #353430;
    --title-Color: #ffc2e6;
    --title-shadow-Color: #ff8dcb;
    --accent-bg-Color: #ff8dcb;
    --accent-Color: #353430;
    --main-bg-color: #fff1f7;
    --main-title-Color: #353430;
    --mainColor: #353430;
    --main-link-shadow: #ff8dcb;
    --bg-image-path: url(../images/cover-image-light.png) no-repeat;
    --hover-Color: rgba(50, 49, 45, 0.4);
  }

  .header-decorated-text {
    display: none;
  }
}
