/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --decorated-Color: #FF0070;
  --title-Color: #DB00FF;
  --title-shadow-Color: #FF0070;
  --accent-bg-Color: #FF0070;
  --accent-Color: #000028;
  --main-bg-color: #000028;
  --main-title-Color: #FF0070;
  --mainColor: #F1B2CE;
  --main-link-shadow: #FF0070;
  --bg-image-path: url(../images/cover-image-dark.png), lightgray 50% / cover no-repeat;
  --hover-Color: rgba(255, 0, 112, 0.40);
}